In [1]:
from libs.data_manipulation import *

In [2]:
df = compile_team_tracking_data("data", "Denmark")

labels_df = pd.read_csv("data/Labelled_ground_truths.csv")

In [3]:
labels_df["Time[s]"] = labels_df["Time[s]"].apply(lambda x: float(int(x[:-4]) * 60 + int(x[-2:])))
labels_df.head()

               Label  Time[s]           match_name  Competition
0                1v1    365.0    "Germany_Denmark"   "EURO2024"
1                1v1    314.0     "Denmark_Serbia"   "EURO2024"
2  breakthrough-even   1560.0   "Denmark_Slovenia"   "EURO2024"
3  breakthrough-even   1920.0   "Denmark_Slovenia"   "EURO2024"
4  breakthrough-even   3309.0   "Denmark_Slovenia"   "EURO2024"

In [7]:
print(len(df.index))
print(len(labels_df.index))

574503
29

In [4]:
df_joined = pd.merge(
    df,
    labels_df,
    left_on=["Time [s]_team", "match_name"],
    right_on=["Time[s]", "match_name"]
)

In [5]:
print(df_joined.head())

Empty DataFrame
Columns: [Time [s]_team, half_team, minute_team, Period_team, home_6_x, home_6_y, home_18_x, home_18_y, home_1_x, home_1_y, home_10_x, home_10_y, home_3_x, home_3_y, home_2_x, home_2_y, home_19_x, home_19_y, home_21_x, home_21_y, home_9_x, home_9_y, home_17_x, home_17_y, home_23_x, home_23_y, home_20_x, home_20_y, home_15_x, home_15_y, home_8_x, home_8_y, home_5_x, home_5_y, home_12_x, home_12_y, ball_x_team, ball_y_team, ball_z_team, Time [s], half, minute, Period, away_10_x, away_10_y, away_2_x, away_2_y, away_17_x, away_17_y, away_22_x, away_22_y, away_9_x, away_9_y, away_1_x, away_1_y, away_20_x, away_20_y, away_21_x, away_21_y, away_11_x, away_11_y, away_13_x, away_13_y, away_6_x, away_6_y, away_7_x, away_7_y, away_5_x, away_5_y, away_14_x, away_14_y, away_23_x, away_23_y, away_19_x, away_19_y, ball_x, ball_y, ball_z, match_name, home_14_x, home_14_y, home_11_x, home_11_y, away_8_x, away_8_y, away_12_x, away_12_y, away_4_x, away_4_y, away_16_x, away_16_y, away_25_x, away_25_y, home_26_x, home_26_y, away_3_x, away_3_y, away_15_x, away_15_y, Label, ...]
Index: []

[0 rows x 102 columns]